<div class="container">
    <app-navbar title="Menu Items" [showSearch]="false"></app-navbar>
    
    <div class="d-flex mb-5">
      <div>
        <button class="btn btn-primary btn-lg px-5" [routerLink]="['/menu/add']">Add Menu Items</button>
      </div>
    </div>

    <div class="row" style="margin-top: 10px" *ngIf="items?.length > 0">
        <ng-container *ngFor="let item of items">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <app-imagecard
                image={{item?.imageUrl}}
                title={{item?.name}}
                desc={{item?.description}}
                price={{item?.price}}
                id={{item?.id}}>
              </app-imagecard>
            </div>
        </ng-container>
      </div>

      <div class="pagination-card  d-flex ml-auto">
        <div class="btn-group d-flex ml-auto" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning" style="width: 120px; height:50px" 
           [ngClass]="{opacityDim: pageNum === 1 || wait}" (click)="previous()" [disabled]="pageNum === 1">Previous</button>
          <button type="button" class="btn btn-primary" style="width: 120px;"
          [disabled]="  pageLen < 2 || wait" [ngClass]="{opacityDim:  pageLen < 2 || wait}" (click)="next()">Next</button>
       </div>
    </div>



