<div class="container">
    <app-navbar title="Menu Items"></app-navbar>
    
    <div class="d-flex mb-5">
      <div>
        <button class="btn btn-primary btn-lg px-5" [routerLink]="['/menu/add']">Add Menu Items</button>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <ng-container *ngFor="let item of items">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <app-imagecard
                image={{item?.imageUrl}}
                title={{item?.name}}
                desc={{item.description}}
                price={{item?.price}}
                id={{item.id}}>
                </app-imagecard>
          </div>
        </ng-container>

    </div>
  </div>

