<div class="nav-bar">
  <div class="left-part">
    <h3>
      <b>{{ title }}</b>
    </h3>
  </div>
  <!-- <div class="d-flex" *ngIf="showSearch">
    <div class="ml-auto">
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Search By date</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="ml-auto py-3">
      <button mat-mini-fab class="search-btn">
        <i class="material-icons" style="font-size: 18px">search</i>
      </button>
    </div>
  </div> -->
</div>
