<div class="main-content">
  <div class="container-fluid">
      <div class="w-900 mx-auto">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Menu Item</h4>
              </div>
              <div class="card-body">
                  <form [formGroup]="menuForm" (ngSubmit)="createMenu()">
                      <div class="row">
                          <div class="col-md-9 m-auto">
                              <div class="row">
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Name" formControlName="name">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Order" formControlName="order" type="number" autocomplete="off">
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Price" formControlName="price" type="number">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field>
                                          <mat-label>Category</mat-label>
                                          <mat-select formControlName="categoryId">
                                              <mat-option *ngFor="let category of categories | async"
                                                  [value]="category.categoryId">{{ category.name }}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  
                                  <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Website Url" formControlName="webUrl" type="text">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                          <textarea matInput placeholder="Description" formControlName="description" type="text"></textarea>
                                      </mat-form-field>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="col-md-3">
                              <div class="upload-btn-wrapper mb-auto col-md-3">
                                  <img [src]="profileImg" *ngIf="profileImg" 
                                      style="height: 180px; width: 180px;">
                                  <img *ngIf="!profileImg" src="/assets/img/event_default.png" 
                                      style="height: 180px;">
                                  <input type="file" (change)="uploadImg($event)" class="imgInput">
                              </div>
                          </div>
                      </div>
                      <hr>
                      <h4>Options</h4>
                      <div formArrayName="options">
                          <ng-container *ngFor="let option of optionsData().controls; let i = index">
                              <div class="row" [formGroupName]="i">
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Title" formControlName="title">
                                          <mat-error *ngIf="option.get('title').invalid" class="mb-2">
                                              Title is <strong>required</strong>
                                          </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-5">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Price" formControlName="price" type="number">
                                          <mat-error *ngIf="option.get('price').invalid" class="mb-2">
                                              Price is <strong>required</strong>
                                          </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-1">
                                      <button class="btn btn-danger px-0 w-100" (click)="removeOption(i)" >
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                  </div>
                              </div>
                          </ng-container>

                      </div>
                      <button class="btn btn-primary" type="button" (click)="addOptions()"  [disabled]="!menuForm.valid">Add
                          Options</button>
                      <div class="d-flex">
                          <button mat-raised-button type="submit" class="btn btn-primary ml-auto" [disabled]="wait || !menuForm.valid"> Add
                              Menu</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>

  </div>
</div>